.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.top .s
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 4px;
    left: 239px;
    color: rgb(220,235,235);
    cursor: pointer;
}
.top .s1
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 4px;
    left: 1006px;
    color: rgb(220,235,235);
    cursor: pointer;
}
.top .but
{
    display: flex;
    background-color: gray;
    position: relative;
    height: 278px;
    width: 969px;
    top: -465px;
    margin: auto;
    padding: 0;
}
.top .but .slider1
{
    border: 100px;
    position: absolute;
    left: 100px;
}

/* .top .but .slider1
{
    position: absolute;
    top: 489px;
    left: 625px;
}
.top .but .taigame
{
    position: absolute;
    top: 489px;
    left: 400px;
} */

/* .a1{
    position: absolute;
    top: -2px;
    left: 349px;
    font-size: 20px;
    color:white;
}
.a2{
    position: absolute;
    top: -2px;
    left: 441px;
    font-size: 20px;
    color:white;
}
.a3
{
    position: absolute;
    top: -2px;
    left: 600px;
    font-size: 20px;
    color:white;
} */